@font-face {
  font-family: "primary-regular";
  src: url("./../../assets/fonts/frutiger/regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "primary-bold";
  src: url("./../../assets/fonts/frutiger/bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "secondary-italic";
  src: url("./../../assets/fonts/itc-charter/italic.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "secondary-bold-italic";
  src: url("./../../assets/fonts/itc-charter/bold-italic.ttf")
    format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "secondary-regular";
  src: url("./../../assets/fonts/itc-charter/regular.ttf") format("truetype");
  font-weight: 400;
}
