// colors
$primary-color--dark: #D81E05;
$primary-color--light: #fff;
$primary-color--tertiary: #8240df;

$secondary-color--dark: #939393;
$secondary-color--light: #bdc5d5;

$background-color--dark: #232940;
$background-color--light: #f7f8f9;
$background-color--white: #fff;
$background-color--highlight-1: #d4edda;
$background-color--highlight-2: #fbf1ee;

$border-color--default: #cacaca;
$border-color--error: #ff0000;
$border-color--dark: #000;

$highlight-color--1: #158463;
$highlight-color--2: #ff0000;
