// Color Variables
$clr-primary-scotiabank-red: #d81e05; // Primary Buttons or any Brand Related Elements
$clr-neut-darker-gray: #333; // Body Text and Form Fields Text
$clr-neut-dark-gray: #555; // Form Fields Border and Form Labels
$clr-neut-gray: #777; // General Borders and Placeholder Text
$clr-neut-light-gray: #d0d0d0; // Disabled Elements and Dividers

// Shadow Variable
$box-shadow: 0px -4px 4px rgba(137, 137, 137, 0.25);

// Font Variables
$font-stack-primary: Urbanist, sans-serif;
$font-stack-secondary: SF-Pro-Text-Regular, sans-serif;
