@import "../../styles/partials/mixins";

.home {
  margin-top: 50px;
  @include container;

  .button-underlined {
    width: 50%;
  }
  .rs-panel-body {
    padding: 16px;
    width: 100%;
  }
  .rs-stack {
    margin: 8px 0;
  }

  .rs-stack-item {
    width: 100%;
  }

  &__navigational-item {
    .card__content {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;
    }
  }
  &__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -120px;
    div.card_footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p:first-child {
        font-weight: bold;
      }
      p {
        padding: 8px 0;
        display: inline-block;
      }
    }
  }
  &__button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
