.nav {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  padding: 0.5rem 2rem;
  border-top: solid 0.1px #e2e2e2;

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  &__link-bar {
    background: url("../../assets/images/icons/navigation-top-bar.svg")
      no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 1rem;
  }

  &__icon-wrapper {
    width: 3.2rem;
    height: 3.2rem;
    margin-bottom: 0.8rem;
    margin-top: auto;

    &-home {
      width: 3.8rem;
      height: 3.8rem;
      margin-bottom: 0.5rem;
      margin-top: auto;
    }

    &-advice {
      width: 4rem;
      height: 4rem;
      margin-bottom: 0.5rem;
      margin-top: auto;
    }

    &-more {
      width: 2.8rem;
      height: 2.8rem;
      margin-bottom: 1rem;
      margin-top: auto;
    }
  }

  &__icon {
    width: inherit;
    height: inherit;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    font-size: 1.2rem;
    color: gray;

    &--active {
      color: #d81e05;
    }
  }
}
