.nav {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 0.5rem 2rem;
  border-top: solid 0.1px gray;

  &__icon-wrapper {
    width: 3.8rem;
    height: 3.8rem;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: inherit;
    height: inherit;
    object-fit: contain;
    object-position: center;
  }

  &__title {
    font-size: 1.2rem;
    color: gray;
  }
}
